<ul class="nav flex-column p-3">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'add_expense' %}">Add Expense</a>
    </li>
     <li class="nav-item">
    <a class="nav-link" href="{% url 'expense_list' %}">Expenses</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="">Events</a>
    </li> -->
    <li class="nav-item">
    <a class="nav-link" href="{% url 'add_salary' %}">
        Add Salary
    </a>
</li>

</ul>


